/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); */

/* body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal; 
}*/

/* body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} */

body {
    padding: 10px;
    background-color: rgb(231, 236, 239)
}

/* index.html */

#heading {
    text-align: center;
    margin-top: 25px;
    
}

#heading > h1 {
    margin-bottom: 3px;
}

#heading > h2 {
    margin-top: 3px;
}

#headshot {
    border-radius: 25%;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px lightgray;
    height: 250px;
    transition-property: width, height;
    transition-duration: 0.3s;
}

#headshot:hover {
    width: 300px;
    height: 300px;
}

#contact {
    text-align: center;
}

.col > p {
    font-weight: bold;
}

/* table, th, td {
    border: solid;
} */

/* proejcts.html */

.projects-title {
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
}

.card {
    margin: 10px;
}

.table-header {
    text-align: center;
    margin: 20px;
}

/* note - aboutme styling in top of aboutme.html */