body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#heading {
    text-align: center;
    
}

#heading > h1 {
    margin-bottom: 3px;
}

#heading > h2 {
    margin-top: 3px;
}
#headshot {
    border-radius: 25%;
    margin-bottom: 5px;
}

#contact {
    text-align: center;
}